/*Dana Ottaviani
  12-9-2015
  CS 275
  design.css*/
  
body{
    background-image: url("../images/red-building-industry-bricks.jpg");
    background-repeat: repeat-y;
} 

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body{
    /*image source: https://www.pexels.com/photo/tea-coffee-restaurant-smartphone-32059/*/
    background-image: url("../images/coffee-table.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

#order{
  background-color: navajowhite;
  margin: auto; 
  padding: 20px;
  padding-top: 5px;
}

#choices{
  font-size: 20px;
}

#sale{
  background-color: #b3cccc;
  margin-top: 10px;
  /*width: 50rem;*/
  padding: 20px;
  padding-top: 5px;
  text-align: center;
}

.panel{
  background-color: #b3cccc;
}

h1{
  text-align: center;
}


