/*Dana Ottaviani
  12-9-2015
  CS 275
  design.css*/

body{
  background-image: url("../images/coffee-table.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#order{
  background-color: navajowhite;
  margin: auto;
  margin-top: 10%;
  width: 440px;
  padding: 20px;
  padding-right: 5px;
  padding-top: 5px;
}

#choices{
  font-size: 20px;
}

#sale{
  background-color: #b3cccc;
  margin: auto;
  margin-top: 10px;
  width: 440px;
  padding: 20px;
  padding-top: 5px;
  text-align: center;
}