/*Dana Ottaviani
  12-9-2015
  CS 275
  design.css*/

body {background-image: url(pexels-photo.jpg);
      background-repeat: no-repeat;
      background-size: cover;}

#order {background-color: navajowhite;
        margin-left: 35%; 
        margin-top: 10%;
        width: 440px;
        padding: 20px;
        padding-right: 5px;
        padding-top: 5px;}

#choices {font-size: 20px}

#sale {background-color: #b3cccc;
       margin-left: 35%;
       margin-top: 10px;
       width: 440px;
       padding: 20px;
       padding-top: 5px}